<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This is a blog website on which one can easily manage blogs.</p>
    &nbsp;
    &nbsp;
    &nbsp;
    <p>This website is developed by Saransh Jain.</p>
  </div>

</body>
</html>